  @font-face {
    font-family: ProductSansLight;
    src: local("ProductSansLight"),
      url(../fonts/ProductSans/ProductSans-Light.ttf) format("truetype");
  }
  @font-face {
    font-family: GoogleSansRegular;
    src: local("GoogleSansRegular"),
      url(../fonts/ProductSans/GoogleSans-Regular.ttf) format("truetype");
  }
  html::-webkit-scrollbar {
    display: none;
  }
  html {
    scroll-behavior: smooth;
  }
  *,
  ::after,
  ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  :root {
    font-size: 62.5%;
    --dark-gray: #0f0f0f;
    --ligher-gray: #1f1f1f;
    --primary-color: #D1B000;
  }
  body {
    font-family: ProductSansLight, sans-serif;
    font-weight: 100;
    line-height: 1rem;
    display: flex;
    background-color: var(--dark-gray);
    overflow-x: hidden;
    color: #fff;
  }
  a:link,
  a:visited {
    text-decoration: none;
    color: inherit;
  }
  main {
    flex: 1;
  }
  .back-btn-main {
    position: absolute;
  }
  .back-btn-container {
    width: 30rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: -30rem;
    background-color: var(--dark-gray);
    text-align: center;
    transition: all 0.5s ease-in-out;
  }
  .back-btn {
    width: 7rem;
    height: 7rem;
    position: fixed;
    top: 2rem;
    right: 0;
    cursor: pointer;
    background-color: var(--primary-color);
    padding: 2rem 2rem;
    border-radius: 40% 0 0 40%;
    font-size: 3rem;
    color: #000;
  }
  #projects-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
  .a-project {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 85%;
    width: 50%;
    min-width: 30%;
    margin-top: 7.5rem;
    border-radius: 50px;
    padding: 3rem;
    background: linear-gradient(145deg, #0f0f0f, #121212);
    box-shadow: 32px 32px 64px #000, -32px -32px 64px rgb(255, 255, 255, 0.05);
  }
  .img-container {
    padding: 2rem;
  }
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    line-height: 2rem;
  }
  .content-container h3 {
    font-family: GoogleSansRegular;
    color: var(--primary-color);
    font-size: 3.5rem;
    text-align: left;
    align-self: flex-start;
    line-height: 4rem;
    margin: 2rem 0;
    margin-bottom: 1rem;
  }
  .content-container h5 {
    font-family: ProductSansLight;
    font-size: 1.75rem;
    align-self: flex-start;
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--primary-color);
  }
  .content-container p {
    font-family: ProductSansLight;
    color: #ccc;
    font-size: 1.5rem;
  }
  .content-container,
  .img-container {
    width: 50%;
  }
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 25px;
  }
  #project3 {
    margin-bottom: 20rem;
  }
  @media screen and (max-width: 1000px) {
    .a-project {
      width: 85%;
    }
  }
  @media screen and (max-width: 768px) {
    .a-project {
      flex-direction: column;
    }
    .content-container,
    .img-container {
      width: 100%;
    }
  }
  @media screen and (max-width: 450px) {
    .a-project {
      padding: 1.5rem;
    }
  }